{% extends "post/layout.html" %}
{% load static %}
{% block body %}
<style>
    .content {
            position: relative;
            z-index: 1;
            padding: 50px;
            background-color: rgba(255, 235, 205, 0.8);
            margin-top: 100px;
            width: 400px;
            margin: 0 auto;
            border-radius: 10px;

        }
    h1{
        text-align: center;
    }
    .content {
        position: relative;
        z-index: 1;
        padding: 50px;
        background-color: rgba(255, 235, 205, 0.8);
        margin-top: 100px;
        width: 400px;
        margin: 0 auto;
        border-radius: 10px;

    }
    video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%,-50%);
            z-index: -1;
        }
    

</style>
    <h1>Update your post</h1>
    <!-- Background video-->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="{% static 'videos/update.mp4' %}" type="video/mp4">
            Your browser does not support HTML5 video
        </video>
    </div>
    <div class="content">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Update</button>
        </form>

    </div>
    
    
{% endblock %}